<header class="header">
  <a href="/"><img src="/images/logo.png" class="logo" /></a>

  <% if (locals.currentUser) {%>
  <h1 class="small-title">
    WELCOME_STRANGER_<%= locals.currentUser.username %>
  </h1>
  <div class="navbar">
    <a href="/message-add">ADD_MESSAGE</a>
    <a href="/access">ACCESS</a>
    <a href="/log-out">LOG_OUT</a>
  </div>

  <% } else { %>
  <h2 class="small-title">LOG IN TO SEE THE FULL MESSAGES.</h2>
  <div class="navbar">
    <a href="/log-in">LOG IN</a>
    <a href="/sign-up">SIGN UP</a>
  </div>

  <%}%>
</header>
