<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); -%>
  <body>
    <h1 class="title">Log In</h1>
    <form action="" method="POST" class="form-container">
      <% if (message.length>>0) { %>
      <p><%=message[0] %></p>
      <% } %>
      <label for="username">
        <span>Username</span>
        <input name="username" type="text" />
      </label>

      <label for="password">
        <span> Password</span>
        <input name="password" type="password" />
      </label>
      <span>Don't have an account ? <a href="/sign-up">SIGN UP HERE</a></span>
      <button class="btn">Log in</button>
    </form>
  </body>
</html>
