<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <h1>Add a message</h1>
    <form action="" method="POST">
      <% if (errors.length>>0) { %> <% errors.forEach(error => { %>
      <p><%=error.msg %></p>
      <% }) %> <% } %>
      <label for="title">title</label>
      <input name="title" placeholder="title" type="text" />
      <label for="text">text</label>
      <input name="text" type="text" />
      <button>Add a message</button>
    </form>
  </body>
</html>
