//Purples
$vodoo: #583a64;
$darkVodoo: #23082e;
$darkGrey: #4e4351;
$darkestGrey: #19181f;
//Reds
$sunset: #fb4756;
$brightRed: #e82a2a;
$darkRed: #870000;
$brightOpposite: #e8ce2a;
//Blues
$darkestBlue: #000f40;
$darkBlue: #002275;
//Whites
$brightWhite: #e7e7e7;
$white: #ffffff;
//Greys
$grey90: #0c0c0d;
$grey80: #16161a;
$grey70: #3d3b38;

$bgColor: $grey80;
$darkColor: $darkestGrey;
$contBgColor: rgba(
  $color: $grey90,
  $alpha: 0.75,
);
$shadowColor: $darkRed;
$mainColor: $brightRed;
$altMainColor: $brightOpposite;
$whiteColor: $white;
