@use "reset";
@import "colors";
@import url("https://api.fontshare.com/css?f[]=ranade@100,101,300,301,400,401,500,501,700,701,1,2&display=swap");

@mixin container {
  width: min(77.5vw, 1180px);
  margin: 0 auto;
  background-color: $contBgColor;
  border-radius: 0.75rem;
  color: $mainColor;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2rem 5rem 1rem rgba($color: $bgColor, $alpha: 0.05);
  border: 1px solid rgba($color: $mainColor, $alpha: 0.1);
}
@mixin subTitle {
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 0px 3px 10px rgba($color: $shadowColor, $alpha: 0.6);
  a {
    color: $altMainColor;
  }
}
body {
  background-color: $bgColor;
  color: $whiteColor;
  font-family: "Ranade", sans-serif;
  font-weight: 500;
}
.avatar-select {
  /* HIDE RADIO */
  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type="radio"] + img {
    cursor: pointer;
    border-radius: 100%;
    width: 20vw;
    max-width: 136px;
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + img {
    outline: 3px solid $mainColor;
  }
}
.title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 0.5ch;
  color: $mainColor;
  text-shadow: 0px 3px 10px rgba($color: $shadowColor, $alpha: 0.6);
}
.form-container {
  display: flex;
  flex-direction: column;

  @include container;
  margin: 0 auto;
  align-items: center;
  & > * {
    margin-block: 0.5rem;
    width: 95%;
  }
  > span {
    @include subTitle;
    margin: 0 auto;
    margin-bottom: 0.5ch;
    text-align: center;
  }
  fieldset {
    border: none;
    margin-inline: 0;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    & > * {
      margin-inline: 2vw;
    }
  }
  > label {
    display: flex;
    flex-direction: column;

    span {
      margin-left: 0.1em;
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 0.5ch;
      @include subTitle;
    }

    input {
      padding: 0.35rem 0.2rem;
      border-radius: 0.75rem;
      border: none;
      background-color: $darkColor;
      color: $whiteColor;
    }
  }
  .errors {
    & > * {
      text-align: center;
      color: $altMainColor;
      &::before {
        content: "⚠";
        margin-right: 0.5ch;
        font-size: 1.2em;
        font-weight: 900;
      }
    }
  }
}

.btn {
  margin: 0.5em auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: 2px solid $mainColor;
  background: none;
  color: $mainColor;
  font-weight: 600;
  cursor: pointer;
  max-width: 10rem;
  &:hover {
    background: $mainColor;
    color: $contBgColor;
    font-weight: 900;
  }
}

.message-container {
  @include container;
  display: flex;
  gap: min(5vw, 2rem);
  padding: 2rem;
  margin-bottom: 3em;
  margin-top: 3em;

  img {
    border-radius: 100%;
    box-shadow: 0px 0.5rem 5rem 1rem rgba($color: $shadowColor, $alpha: 0.35);
    aspect-ratio: 1/1;
    max-height: 200px;
    max-width: 200px;
    align-self: center;
    width: 30vw;
  }
  h2 {
    @include subTitle;
    text-transform: UPPERCASE;
    text-decoration: underline;
  }
  div {
    display: flex;
    flex-direction: column;
    border-left: 2px solid $mainColor;
    padding-left: min(5vw, 2rem);
    span {
      display: flex;
      flex-direction: column;
      & > * {
        margin-block: 0;
        margin-bottom: 0.5rem;
      }
      & > h3 {
        &::before {
          content: "BY_";
        }
      }
    }
    p {
      font-weight: 600;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $contBgColor;

  a {
    display: block;
    text-decoration: none;
    color: $mainColor;
    padding: 0.1rem 1rem;
    border-block: 2px solid $mainColor;
  }
}
.small-title {
  @include subTitle;
  color: $mainColor;
  margin: 0 auto;
  padding: 1ch;
  text-align: center;
  background-color: $contBgColor;
}
